// Fonts
// @import url('https://fonts.bunny.net/css?family=Nunito');
// // Variables
// @import 'variables';
// Bootstrap
@import 'bootstrap/scss/bootstrap';
// SBAdmin Template
@import 'sb-admin';

table,
th,
td {
 border: 1px solid black;
 border-collapse: collapse;
}
html {
 height: 100%;
}
body {
 height: 100%;
 display: flex;
}
body>nav {
 min-width: 150px;
 background-color: lightgray;
 margin-right: 20px;
}
body>nav ul {
 list-style-type: none;
 padding-left: 15px;
 margin-bottom: 10px;
}
body>nav li {
 margin-bottom: 10px;
}
